// my-layout.jade
doctype html
html(style='background-color: red')
  head
    title My title
    block head
  body
    h1 The main layout
    #content(style='background-color: blue')
      block content